<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Website</title>
</head>
<body>
<header>
        <h1>Welcome to Our Real Estate Website</h1>
    </header>
    <nav>
        <ul>
            <li><a href="vishadh realty.html">Home</a></li>
            <li><a href="residential.html">Residential</a></li>
            <li><a href="commercial.html">Commercial</a></li>
        </ul>
    </nav>
    <footer>
        <p>&copy; 2023 Real Estate Website</p>
    </footer>
</body>
</html>